/* You can add global styles to this file, and also import other style files */
body {
  background: #212121;
  color: white;
  font-family: "Arial Black", sans-serif;
  padding: 20px;
  a { color: lightblue; }
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    background: #aeaeae;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #717171;
}

::-webkit-scrollbar-corner {
  background: #aeaeae;
}
